@media screen and (min-width: 541px) {
    html{
        font-size: 44PX;
    }
}

@media screen and (min-width: 1400px) {
    html{
        font-size: 44PX!important;
    }
}

@media screen and (min-width: 1680px) {
    html{
        font-size: 50PX!important;
    }
}

@media screen and (max-width: 540px) {
    html{
        font-size: calc(100vw / 10)
    }
}