.wrap {
    .pointer {
        cursor: pointer;
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    .width1280 {
        margin: 0 auto;
        width: auto !important;
        max-width: 1280px !important;
    }

    .innerWrap {
        margin: 0 16px;
        padding-bottom: 150px;

        .block {
            position: relative;

            .blockMask {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                display: block;
                z-index: 2;
            }
        }
    }

    .btnWrap {
        position: fixed;
        left: 16px;
        right: 16px;
        bottom: 80px;

        button {
            font-weight: bold !important;
            font-size: 24px !important;
            line-height: 42px !important;
            height: 42px !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;

            span {
                line-height: 20px !important;
            }
        }
    }

    .createImgWrap {
        margin: 16px 0;
        padding: 8px;
        align-items: center;
        display: flex;
        justify-content: center;
        gap:16px;
        .transForm{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .imgWrap {
            width: 100%;
            height: 450px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background-color: rgb(36, 45, 64);

            .placeHolder {
                line-height: 24px;
                text-align: center;
                background: rgba(0, 0, 0, 0.2);
                color: #fff;
                display: inline-block;
                font-size: 16px;

                >span {
                    font-size: 14px;
                    color: #969696;
                }

                padding:8px 16px;

                button {
                    margin: 10px 0;
                    line-height: 24px;
                    height: 36px;
                    font-size: 16px;
                }
            }
        }
    }

    .optWrap{
        display: flex;
        width:100%;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 541px) {
    .btnWrap {
        max-width: 30vw;
        right: auto;
        left: 50% !important;
        margin-left: -15vw;

        button {
            font-weight: bold !important;
            font-size: 24px !important;
            line-height: 42px !important;
            height: 42px !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;

            span {
                line-height: 20px !important;
            }
        }
    }
}

@media screen and (max-width: 540px){
    .mobileHide{
        display: none!important;
    }
    .createImgWrapReady{
        display: flex!important;
    }
    .createImgWrap{
        flex-wrap: wrap;
    }
    .block{
        margin-top:16px;
    }
}