@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --vh: 1vh;
    --discountHeight:0;
  }

html,
body {
    background: $mainBgColor;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

    *{
        font-family: 'Open Sans', sans-serif;  
    }
}


a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.cusMessage {
    .ant-message-success>.anticon {
        color: $mainColor !important;
    }

    .ant-message-notice-content {
        color: #9b9b9b;
        background-color: #242d40 !important;
    }
}

.nav-sticky {
    background-color: $mainBgColor!important;
}

//create 页面 表单下拉框样式处理
.modelDrop{
    .ant-select-item-option-content>div{
        display: flex;
        align-items: center;
        span{
            margin-left: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
    