.formWrap {
    width: 100vw;
    height: calc(100 * var(--vh) - 72px);

    .width1280 {
        margin: 0 auto;
        width: auto !important;
        max-width: 1280px !important;
    }
        .formInner {
            color: #fff;
            font-size: 16px;
            height: calc(100 * var(--vh) - 72px);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .reset{
            display: flex;
            flex-direction: row-reverse;
            color:$mainColor;
            font-size: 16px;
            a{
                color:$mainColor!important;
            }
            a:hover{
                color:$mainColor!important;    
            }
        }

        :global(.ant-form .ant-form-item-label>label) {

            color: #fff;
            font-size: 16px;

        }

        :global(.ant-tabs .ant-tabs-tab) {

            color: #fff;
            font-size: 16px;

        }

        :global(.ant-btn.ant-btn-lg){
            font-size: 16px;
            height:40px;
        }

        :global(.ant-input){
            font-size: 14px;
        }
        :global(.ant-input-password){
            font-size: 14px;
        }

        :global(label.ant-form-item-required::before){
            color:$mainColor!important;
        }
        :global(.ant-form-item .ant-form-item-explain-error){
            color:$mainColor!important;
        }
        :global(.ant-input-status-error){
            border-color:$mainColor!important;
        }

        .btnWrap{
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .btnWrapFirst{
            margin-top: 60px;
        }

        .card {
            width:90%;
            background-color: rgb(36 45 64);
            padding: 40px;
            border-radius: 6px;
        }
}

@media screen and (min-width: 541px) {
    .formWrap {
        .card{
            width:50vw;
        }
    }
}